
.btn{
    /*button before and after we click on it should appear the same*/
    &:link, &:visited{
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s; /*we place transition in the initial class, and we say on all pseudo elements transitions can happen*/
        position:relative;/*because we want btn:after to have position absolute and we want it exactly behind the button, we have placed position relative here*/
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; /*for the fade-out effect*/
        }
    }
    &-active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);  
    }
    &--white{
        background-color:$color-white;
        color:$color-grey-dark;
        padding: 15px 40px;
        display: inline-block; /*so that we can use text-align center of textbox to align the button to the center*/
        
        &::after{
            background-color: $color-white;
        }
    }
    &::after{
        content: ""; /*mandatory to write this*/
        display: inline-block;
        height: 100%; /*after is a child element. so we want it to be 100% height and width of parent i.e button*/
        width: 100%;
        border-radius: 10rem; /*we want after button and original button to look the same and to be behind the original button*/
        position: absolute;
        top:0; /*this button after should be placed behind the button*/
        left:0;
        z-index: -1;
        transition: all .4s; /*button hover scale animation*/
    }
    &--animated{
        animation: moveInBottom .5s ease-out .75s; /*.75s of delay*/
        animation-fill-mode: backwards; /* want it to appear after delay. useful for when you dont want an element to appear when you load at first time.*/
    }
}
