.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include absCenter;
        width: 75%;
        
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        @include respond(phone){
            width: 80%;
        }
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
        @include respond(tab-land){
            display: none;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 2rem;
        @include respond(tab-land){
            padding: 2rem;
        }
    }

    &__img {
        display: block;
        width: 100%;
        opacity: 0;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        opacity: 0;
        width: 0;
        visibility: hidden;
        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid $color-grey-light-1;

        column-count: 2;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid $color-grey-light-1;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(tab-port){
        column-count: 1;
        column-gap: 0; //1em = 14px;
        column-rule: none;
        }
    }

    &__heading--1{
        opacity: 0;
        visibility: hidden;
        width: 0;
    }
    &__heading--2{
        opacity: 0;
        visibility: hidden;
        width: 0;
    }

    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      
    }
    &:target &__img {
       opacity:1;
    }
    &:target &__text {
        opacity:1;
        visibility: visible;
        width: 100%;
     }
     &:target &__heading--1 {
        opacity:1;
        visibility: visible;
        width: 100%;
     }
     &:target &__heading--2 {
        opacity:1;
        visibility: visible;
        width: 100%;
     }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}