/*reset browser's default styling*/
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit; /*to make box sizing as an inheritable property*/
}

html{
    font-size: 62.5%; /*1 rem=10px, 62.5%of root font size 16px=10px*/
   
    
    @include respond(tab-land){
        font-size: 56.25%; //1rem  to be  9px , 9/16=56.25%
    }
    @include respond(tab-port){
        font-size: 50%; //1rem  to be  8px, 8/16=50%
    }
    @include respond(big-desktop){
        font-size: 75%; //1rem  to be  12px , 12/16=75%
    }
   
}

body{
    box-sizing: border-box;
    padding:3rem; /*setting a white border on entire webpage*/
    @include respond(tab-port){
        padding:0;
    }
}